{% extends 'base.html' %}
{% block title %}
                Home
            {% endblock title %}
{% block body %}



      <div class="container">
        <h1>ADD Todo</h1>
        <form action="/" method="POST">
          <div class="form-group mb-3">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" >
          </div>
          <div class="form-group mb-3">
            <label for="desc">Description</label>
            <input type="text" name="desc" class="form-control" id="desc">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="container my-4">
        <h1> my todo list</h1>
      
         
        
            {% if allTodo|length==0 %}
            <h1>NO Records</h1>
              
            {% else %}
              <table class="table">
            <thead>
              <tr>
                <th scope="col">SNo</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
              <tbody>
            {% for todo in allTodo   %}
              <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.date_created}}</td>
              <td>
                <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-success">Update</button></a>
                <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
              </td>
            </tr>
            
             </tbody>
         
        </table>
        {% endfor %}
        {% endif %}
      </div>
      
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        
{% endblock body %}